.friend {
    padding: 0.5rem;
    background: wheat;
}

/* 
class name is created on the fly
.friend_o768_jhg
*/

/* 
react creates this mapping object
and exports it
{
    friend: "friend_o768_jhg"
}
*/